.login-button {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}
.nav-section {
    display: flex;
    justify-content: center;
}

.menu-area {
    display: flex;
    justify-content: space-around;
  }
  
  .menuList {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  .menuList li {
    padding: 10px;
  }
  
  .search-bar {
    position: fixed;
    right: 5px;
    border-bottom: solid 2px black;
  }
  
  .search-input {
    border: none;
  }
  .product-card:hover {
    transform: scale(1.03);
  }
  
  .card-img {
    width: 20vw;
  }

  a {
    color: black;
    border-bottom: none;
  }

